@import '~bootstrap/scss/bootstrap';

.started-link {
  display: block;
  text-decoration: none;
  max-width: 400px;
}

.header-logo {
  color: red;
  font-weight: bold;
}

.movie-item {
  width: 15%;
  height: 500px;
}
