@import '~bootstrap/scss/bootstrap';

.started-link {
  display: block;
  text-decoration: none;
  max-width: 400px;
}

.header-logo {
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.shows-card {
  cursor: pointer;
}

.header-right {
  position: relative;
}

.search-dropdown {
  position: absolute;
  bottom: -266px;
  right: 0px;
  list-style: none;
  display: block;
  width: 159px;
  height: 250px;
  z-index: 3;
  padding: 0;
  overflow-y: auto;
  background-color: #fff;
}

.search-item {
  display: block;
  padding: 10px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: #dc3545;
  }
}

.header {
  .header-link {
    text-decoration: none;
    color: #dc3545;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: #dc3545;
      color: #fff;
    }
  }
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .header-link {
    display: none;
  }
  .header {
    .mobile-menu {
      display: block;

      .nav-link {
        color: #dc3545;
        font-weight: bold;
        padding: 0 5px;
      }
    }
    .input-group {
      width: 120px;
    }
    .search-dropdown {
      width: 115px;
    }
    .btn-signout {
      width: 80px;
    }
    &-left {
      width: max-content;
    }
    .search-input {
      padding: 5px;
    }
  }
}

@media (max-width: 425px) {
  .header {
    &-logo {
      font-size: 18px;
    }
  }
}
