@import '~bootstrap/scss/bootstrap';

.started-link {
  display: block;
  text-decoration: none;
  max-width: 400px;
  width: 100%;
  justify-content: space-between;
}

.header-logo {
  color: red;
  font-weight: bold;
}
